<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <title>Calculator</title>
</head>
<body>


Input your first number: <input class="firstNum" type="text"><span class="operator"></span><br>
Input your second number: <input class="secondNum" type="text">

<div class ="buttons">
    <button class="add">+</button>
    <button class="subtract">-</button>
    <button class="multiply">*</button>
    <button class="divide">/</button>



</div>

<div class="equals">
    <button class="equalsButton">Equals</button>
</div>

<div class="toAppend"></div>

</body>
</html>